extends ../layouts/default
 
block content 
  .container: .section
    p: a(href='/work') ← back to the work
    article.columns.is-mobile
      section.column.is-8.is-offset-2
        
        hr
        if data.post.image.exists
          .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
        if !data.post
          h2 Invalid Post.
        else
          hr
          header
            h1.subtitle= data.post.title
          article.section.post
            != data.post.content.full
